@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: rgb(17 24 39);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}
.activeLink {
  color: rgb(255, 75, 105);
}

.Link {
  color: rgb(0, 0, 155);
}
.Link:hover {
  color: rgb(255, 75, 105);
  transition: 0.5s ease-in-out;
}

.myBgError {
  background-image: url("./assets/imgs/bgError.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
